* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #c9c9c9;
}
.box {
  margin: 0 auto;
  width: 520px;
  border: 1px solid black;
}
.tab {
  width: 520px;
  height: 560px;
  border-collapse: collapse;
}
.tab td {
  border: 10px solid #1f1d1d;
}
#cell_1 {
  height: 50px;
  background-color: white;
}
#cell_2 {
  width: 200px;
  height: 50px;
  background-color: white;
}
#cell_3 {
  width: 160px;
  height: 50px;
  background-image: url(../img/head3.png);
  background-size: cover;
}
#cell_4 {
  width: 50px;
  height: 130px;
  background-color: white;
}
#cell_5 {
  width: 270px;
  height: 270px;
  background-image: url(../img/body2.png);
  background-size: cover;
}
#cell_6 {
  width: 160px;
  height: 130px;
  background-image: url(../img/body3.png);
  background-size: cover;
}
#cell_7 {
  width: 50px;
  background-color: white;
}
#cell_8 {
  width: 75px;
  height: 130px;
  background-color: white;
}
#cell_9 {
  width: 75px;
  height: 130px;
  background-color: white;
}
#cell_10 {
  width: 130px;
  height: 60px;
  background-image: url(../img/body7.png);
  background-size: cover;
}
#cell_11 {
  width: 130px;
  height: 60px;
  background-color: white;
}
#cell_12 {
  width: 160px;
  height: 60px;
  background-color: white;
}
#cell_13 {
  width: 50px;
  height: 130px;
  background-image: url(../img/body10.png);
  background-size: cover;
}
#cell_14 {
  width: 130px;
  height: 60px;
  background-image: url(../img/body11.png);
  background-size: cover;
}
#cell_15 {
  width: 130px;
  height: 60px;
  background-color: white;
}
#cell_16 {
  width: 160px;
  height: 95px;
  background-image: url(../img/body13.png);
  background-size: cover;
}
#cell_17 {
  width: 130px;
  height: 60px;
  background-color: white;
}
#cell_18 {
  width: 130px;
  height: 25px;
  background-image: url(../img/body15.png);
  background-size: cover;
}
#cell_19 {
  width: 300px;
  height: 25px;
  background-color: white;
}
